@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Itim', cursive;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
:root{
    --main-bg: rgb(0, 8, 14);
    --main-color: turquoise;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px (here) */
}
.row{
    margin: 0;
}
.main_menu{
    background-color: var(--main-bg);
}
.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem;
}
.navbar li{
    margin-left: 2.2rem;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a{
    color: #fff;
    font-size: 2rem;
}
.navbar-toggler{
    background-color: grey;
}
.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* main header */
.main_header_left{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p{
    text-transform: capitalize;
    font-size: 3.2rem;
    font-weight: bold;
}
.main_header_left h1{
    text-transform: capitalize;
    margin: 1rem 0 4rem 0;
    font-size: 4rem;
}
.carousel-item .w-100{
    width: 50px;
    height: 400px;
    background: cover;
}
.main_header_right{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left .text-clr{
    color: var(--main-color);
}
.main_header_left button{
    border: none;
    outline: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: capitalize;
    box-shadow: 0 8px 6px -6px #000;
}
.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px #000;
    color: var(--main-color);
}
 .main_header_right figure img{
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.274));
} 
/* weather page styling */
/* search bar in weather */
.temp_form{
    width: 60%;
    position: relative;
    margin: 6rem auto 7rem;
}
.temp_form input[type="text"]{
    position: relative;
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: rgb(13, 61, 148);
    color: cornsilk;
    outline: none;
    border: none;
    font-size: 1.8rem;
    border-radius: 3rem;
}
::placeholder{
    color: rgb(199, 159, 159);
}
.temp_form input[type="submit"]{
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    border: none;
    background: rgb(1, 1, 43);
    padding: 0 3rem;
    border-radius: 3rem;
    color: cornsilk;
    font-size: 1.7rem;
    line-height: 5rem;
}
.temp_form input[type="submit"]:hover{
    color: rgb(1, 1, 43);
    background: rgb(156, 241, 234);
}
/* lower box styling */
 .tempInfo{
     width: 35rem;
     margin: auto;
     min-height: 40rem;
     background-color: rgb(13, 61, 148);
     color: black;
     border-radius: 3rem;
     padding: 1rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .top_layer{
     width: 100%;
     height: 20%;
     background-color: rgb(1, 1, 43);
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 5rem;
 }
 .top_layer p{
     color: cornsilk;
     font-weight: 200;
     padding: 2rem;
     font-size: 1.5rem;
}
 .main_layer{
     width: 100%;
     height: 80%;
     display: flex;
     flex-direction: column;
     padding: 2rem;
 }
 .main_layer #city_name{
     padding: 2rem;
     text-align: center;
     font-weight: 400;
     color: cornsilk;
     font-size: 2.4rem;
 }
 .main_layer .middle_layer{
     display: flex;
     justify-content: space-around;
     color: cornsilk;
 }
 .main_layer .middle_layer p,
 .main_layer .middle_layer .fa{
     font-size: 5rem;
     font-weight: 800;
 }
 .fa {
     color: rgb(156, 241, 234);
 }
 sup{
     font-size: 6rem;
     margin-top: -2rem;
 }
 .data_hide{
    visibility: hidden; 
    transition: all 0.28s linear;
 }
 
/* error image */
.errimg img{
    height: 40rem;
    width: 50rem;
}
/* footer-code */
footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}
footer p{
    line-height: 30px;
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
}

/* responsive code */
@media(max-width:768px){
    .main_header_left{
        height: auto;
        margin: 3rem 0;
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem;
    }
    ::placeholder{
        font-size: 1.45rem;
    }
    .temp_form input[type="text"]{
        min-width: 20rem;
        padding: 2rem 1rem 2rem 1rem;
    }
}